Today my internship started. I learned about creating a web page in html &amp; css. Create a
web page step by step. Use all tags.Navigation-A  navigation system comes under GUI that helps the visitors in accessing information. It is the UI element on a webpage that includes links for the other sections of the website. A navigation bar is mostly displayed on the top of the page in the form of a horizontal list of links.
A navigation bar needs standard HTML as a base.
In our examples we will build the navigation bar from a standard HTML list.
A navigation bar is basically a list of links, so using the <ul> and <li> elements makes perfect .
example:
<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>
scrolling:
The scroll-behavior property specifies whether to smoothly animate the scroll position, instead of a straight jump, when the user clicks on a link within a scrollable.
margin:In CSS, a margin is the space around an element's border, while padding is the space between an element's border and the element's content. Put another way, the margin property controls the space outside an element, and the padding property controls the space inside an element.

property
Description
margin-left
it is used to set the left margin of an element.
margin-right
It is used to set the right margin of an element.
margin-top
It is used to set the top margin of an element.
margin-bottom
It is used to set the bottom margin of an element.



padding:The CSS padding properties are used to generate space around an element's content, inside of any defined borders. With CSS, you have full control over the padding. There are properties for setting the padding for each side of an element top, right, bottom, and left.

After the lunch break Kowshik took the session, he explained about function, methods and
variables. A function is a rule which relates the values of one variable quantity to the values
of another variable quantity, and does so in such a way that the value of the second variable
quantity is uniquely determined by the value of the first variable quantity. variable is a
quantity that may change within the context of a mathematical problem or experiment.
Typically, we use a single letter to represent a variable. The letters x,y and z are common
generic symbols used for variables. Sometimes, we will choose a letter that reminds us of
the quantity it represents, such as t for time, v for voltage. Write a program explained in the
declare function, the function declaration defines a function with the specified parameters.
You can also define functions using the Function constructor and a function expression.
Compile time error generally refers to the errors that correspond to the semantics or syntax.
A runtime error refers to the error that we encounter during the code execution during
runtime in their process of working and explaining the process. Abraham took the session,
He explained brinay code.
It is all learned about today.

