ul{
margin: 0;
padding: 20;
list-style: none;
height: 36px;
line-height:36px;
background-color: #000;
font-family: arial,Helvetica, sans-serif;
font-size: 13px;

}
li{
 float: left;
border-right: 1px solid #156ee2;

}
a{
display: block;
padding: 0 70px;
color: red;
text-decoration: none;
}
a:hover{

background-color:#156ee2;
}
.menu {
width:200px;
line-height:80px; 
background-color: #000;
font-family: arial,Helvetica, sans-serif;
font-size: 13px;


}
.home {
 left: 300px;
float: right;
margin-top: -273px;
margin-right: 160px;
}
.scroll-bg {
background: rgb(11,11,114)
width: 400px;
margin: -231px;
padding: 0px 69px;
border-radius: 500px;
}
.scroll-div {
width:1163px;
background:rgb(11,11,114);
height:502px;
overflow:hidden;
overflow-y:scroll;
}
.scroll-object {
color: wheat;
font-size:15px;
padding:20px;
}

