{
margin:50px;
padding:50px;
box-sizing: border-box;
}
nav{
width:1335px;
height:54px;
background-color:#a6acaf;
line-height: 23px;
padding:0px 100px;
z-index 1;
}
nav .logo{
font-size:15px;
font-weight: normal;
letter-spacing: 4.5px;
color:white;

}
nav.logo p{
float: left;
color:white;
text-transform: uppercase;

}
nav ul{
float: right;
margin:-38px;
}
nav ul li{
display: inline-block;
list- style: none;
}
nav ul li a{
color:white;
text-decoration: none;
font-size: 12px;
text-transform: uppercase;
padding:0px 137px;
margin-left:-248px;
margin-right: 41px;
}


.description {
padding:173px;
}

nav .logo img{
height:54px;
width:60px;
margin-bottom: -36;
margin-left:-68;
}

nav ul li .active{
color:blue
}

.photo {
width: 40px;
float: left;
margin-left:123px;
margin-right:277px;
padding:30px;
}


