{
margin:50px;
padding:50px;
box-sizing: border-box;
}
nav{
width:1137px;
height:54px;
background-color:  #4a235a ;
line-height: 23px;
padding:0px 100px;
z-index 1;
inline-height:14px;
}
nav .logo{
font-size:10px;
font-weight: normal;
letter-spacing: 4.5px;
color:white;

}
nav.logo p{
float: left;
color:white;
text-transform: uppercase;

}
nav ul{
float: right;
margin:-57px;
}
nav ul li{
display: inline-block;
list- style: none;
}
nav ul li a{
color:white;
text-decoration: none;
font-size: 12px;
text-transform: uppercase;
padding:20px 115px;
margin-left:-95px;
margin-right:6px;
padding-left:19px;
}

 {
  box-sizing: border-box;
}

.flex-container {
  width:1370px;
  height:100px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #367eab;
  padding: 130px;
  flex:50%;
}

.flex-item-right {
  background-color: #cacfd2 ;
  padding: 130px;
  flex: 50%;
}
 {
  .flex-item-right, .flex-item-left {
    flex: 50%;
  }
}
.btn {
font-family:"roboto",sans-serif;
font-size:18px;
font-weight:bold;
background:#3bab36;
width:160px;
padding:5px;
color:#fff;
border-radius:9px;

}
nav ul li .btn1 {
font-family:"roboto",sans-serif;
font-size:14px;
background:pink;
padding:2px;
color:#fff;
border-radius:5px;
}
