{
margin:50px;
padding:50px;
box-sizing: border-box;
}
nav{
width:1137px;
height:54px;
background-color:  black ;
line-height: 23px;
padding:0px 100px;
z-index 1;
inline-height:14px;
}
nav .logo{
font-size:10px;
font-weight: normal;
letter-spacing: 4.5px;
color:white;
line-height:51px;
}
nav.logo p{
float: left;
color:white;
text-transform: uppercase;

}
nav ul{
float: right;
margin:-57px;
}
nav ul li{
display: inline-block;
list- style: none;
}
nav ul li a{
color:white;
text-decoration: none;
font-size: 12px;
text-transform: uppercase;
padding:0px 137px;
margin-left:-202px;
}

 {
  box-sizing: border-box;
}

.flex-container {
  width:1337px;
  height:100px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #367eab;
  padding: 130px;
  flex:50%;
color:white;
font-size:18px;
}

.flex-item-right  {
  background-color: #cacfd2 ;
  padding: 130px;
  flex: 50%;
 font-size:19px;
text-align:left;
}
 {
  .flex-item-right, .flex-item-left {
    flex: 50%;
  }
}
.btn {
font-family:"roboto",sans-serif;
font-size:18px;
font-weight:bold;
background:#e5e7e9 ;
width:160px;
padding:5px;
color:black;
border-radius:9px;

}


