{
margin:50px;
padding:50px;
box-sizing: border-box;
}
nav{
width:1137px;
height:54px;
background-color: #e5e7e9 ;
line-height: 23px;
padding:0px 100px;
z-index 1;
inline-height:14px;
}
nav .logo{
font-size:19px;
font-weight: normal;
letter-spacing: 4.5px;
color:green;
line-height:51px;
}
nav.logo p{
float: left;
color:white;
text-transform: uppercase;

}
nav ul{
float: right;
margin:-57px;
}
nav ul li{
display: inline-block;
list- style: none;
}
nav ul li a{
color:black;
text-decoration: none;
font-size: 10px;
text-transform: uppercase;
padding:0px 197px;
margin-left:-234px;
margin-right:68px;
padding-right:1px;
}
nav ul li .active {
color:green;

}
.btn {
font-family:"roboto",sans-serif;
font-size:18px;
font-weight:bold;
background:green ;
width:160px;
padding:5px;
color:black;
border-radius:9px;

}
.col-1  {
color:white;
}

.photo {
width: 8px;
float: right;
margin-left:123px;
margin-right:283px;
padding:6px;
margin-top:109px;
margin-left:58px;
margin-left:64px;
padding-right:26px;
}
 {
  box-sizing: border-box;
}

.flex-container {
  width:1337px;
  height:103px;
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align:center;
  padding-top:287px;
}

.flex-item-left {
  background-color:#e5e7e9;
  padding: 3px;
  flex:50%;
color:black;
font-size:10px;
}

